/*Alex Paz A16900476*/
#intro {
  background-color: #9df1af;
}

.container-fluid {
  padding: 3% 15%;
}

.intro-text {
  font-family: 'Montserrat', sans-serif;
  padding: 10% 20%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  line-height: 1.5;
  font-weight: normal;
  color:#000000;
}

h2 {  
  color: #000000;
  font-family: 'Montserrat';
  font-size: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: #000000;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 5% 5% 0;
}

.feature-box {
  text-align: center;
  padding: 1%;
}

.icon {
  color: #efce12;
  margin-bottom: 1rem;
}

#work {
  padding: 2% 15%;
  text-align: center;
  background-color: #7099c7;
}

.work-row {
  padding:0.5%;
}

.work-image {
  width: 100%;
  border-radius: 1%;
  margin:10px;
}

.carousel-item {
  padding: 7% 15%;
}

#team {
  background-color: #d5f1db;
  text-align: center;
}

.team-row {
  padding:2%;
}

.problem-logo {
  width: 50%;
  margin: 20px 20px 50px;
}

#problem {
  padding: 100px;
  text-align: center;
}

.pricing-header {
  color: black;
}

.pricing-column {
  padding: 3% 2%;
}

#socials {
  background-color: #ffffff;
  color:#fff;
  padding: 7% 15%;
  text-align: center;
}

#home {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
  font-size: 30px;
}

.heading {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1;
}

.fa-facebook, .fa-envelope, .fa-linkedin {
  color: #352cdbd7;
}

.social-icon:hover {
  color: #000000;
}

.carousel-icon:hover {
  color: #000000;
}

.footer-text {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

em.work-summary {
  font-family: 'Ubuntu';
  font-size: 20px;
  color:white;
}

.navbar-brand .ECElogo {
  height: 50px; /* Adjust the height as needed */
  margin-left: 20px; /* Space between the logo and the text */
  margin-right: 20px; /* Space between the logo and the text */
}

.problem-description {
  padding-bottom: 100px;
}

#video {
  background-color: #b1e4db;
  color:#fff;
  text-align: center;
  padding: 3% 10%;
}

.youtube-video {
}

.pdf-container {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* White background */
}

.pdf-container iframe {
  width: 80%;
  height: 90%; /* Adjust the size as needed */
  border: 1px solid #ccc; /* Light border for better visibility */
  border-radius: 10px; /* Rounded corners for a nicer effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#presentation {
  background-color: #b1e4db;
  color:#fff;
  text-align: center;
  padding: 3% 15%;
}

.image-container {
  width: 400px;
  max-width: 200px; /* Maximum width of the container */
  margin: 15px auto; /* Center the container */
}

.team-pic {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure the image covers the container while maintaining its aspect ratio */
  border-radius: 10px; /* Optional: rounded corners for a nicer effect */
}
